# Austral Audi Sunshine Coast
define host{
        use             gen_c1941
        host_name       ashmoqbnar01c18.ims.telstra.com.au
        alias           Y00000023925N - Audi Sunshine Coast WAN
        address         10.35.1.254
        _WARNBPS        1000000,1000000
        _CRITBPS        1500000,1500000
        hostgroups      +lan_cur
        }
