
[ serverAuth ]

basicConstraints        = CA:FALSE
authorityKeyIdentifier  = keyid:always,issuer:always
keyUsage                = critical,digitalSignature, keyEncipherment
extendedKeyUsage        = critical,serverAuth,clientAuth
authorityInfoAccess     = OCSP;URI:http://www.apeagers.com.au/
authorityInfoAccess     = caIssuers;URI:http://www.apeagers.com.au/
#crlDistributionPoints  = crldistro

[ crldistro ]

fullname=URI:http://www.apeagers.com.au
CRLissuer=dirName:d_apeagers

[ d_apeagers ]

C=AU
O=APEagers Ltd
CN=APE-CA.apeagers.com.au

