# Southside Honda Woolloongabba
define host{
        use             generic-router,host-pnp
        host_name       apeqwobr01c18.ims.telstra.com.au
        alias           N7045580R - Southside Honda Woolloongabba WAN
        address         10.2.7.254
        hostgroups      lan_bur,wan_routers
        }
