# City Peugeot Fortitude Valley
define host{
        use             generic-router,host-pnp
        host_name       apeqfovr01c18.ims.telstra.com.au
        alias           Y00000040616N - City Peugeot Fortitude Valley WAN
        address         10.11.1.254
        hostgroups      lan_jsv,wan_routers
        }
