###############################################################################
# WAN_SITES.CFG 
# Last Modified: 11-05-2010
# Author: Mark Cross
###############################################################################

####################
# HOST DEFINITIONS #
####################

#------------------
# NSW Bill Buckles 
#------------------

# Head Office Brookvale
define host{
        use             generic-router,host-pnp
        host_name       apersnbror01c18.ims.telstra.com.au
        alias           Y00000033082N - Bill Buckle Head Office WAN
        address         172.17.150.254
        hostgroups      wan_routers
        }

# Parts Brookvale
#define host{
        #use             generic-router,host-pnp
        #host_name       apersnbror02c18.ims.telstra.com.au
        #alias           Y00000033085N - Parts Brookvale WAN
        #address         192.168.5.254
        #hostgroups      wan_routers
        #}

# Service Monavale
define host{
        use             generic-router,host-pnp
        host_name       apersnmonr01c18.ims.telstra.com.au
        alias           Y00000033084N - Service Monavale WAN
        address         192.168.1.254
        hostgroups      wan_routers
        }

# Subaru/VW Brookvale
define host{
        use             generic-router,host-pnp
        host_name       apersnbror03c18.ims.telstra.com.au
        alias           Y00000033083N - Subaru/VW Brookvale WAN
        address         192.168.6.254
        hostgroups      wan_routers
        }

# VW Service Brookvale
define host{
        use             generic-router,host-pnp
        host_name       apersnbror04c18.ims.telstra.com.au
        alias           Y00000033119N - VW Service Brookvale WAN
        address         172.17.158.254
        hostgroups      wan_routers
        }

#--------------
# NSW Klosters 
#--------------

# Cardiff
define host{
        use             generic-router,host-pnp
        host_name       pptinncrdr01c18.ims.telstra.com.au
        alias           Y00000031699N - Cardiff WAN
        address         172.17.74.254
        hostgroups      wan_routers
        }

# Head Office Hamilton
define host{
        use             generic-router,host-pnp
        host_name       ppinhamr01c18.ims.telstra.com.au
        alias           N6044383R - Head Office Hamilton WAN
        address         172.17.107.254
        hostgroups      wan_routers
        }

# Raymond Terrace
define host{
        use             generic-router,host-pnp
        host_name       pptinnrayr01c18.ims.telstra.com.au
        alias           Y00000031696N - Raymond Terrace WAN
        address         172.17.128.254
        hostgroups      wan_routers
        }

# Rutherford
define host{
        use             generic-router,host-pnp
        host_name       pptinnrutr01c18.ims.telstra.com.au
        alias           Y00000031700N - Rutherford WAN
        address         172.17.48.254
        hostgroups      wan_routers
        }

#----
# NT 
#----

# Bridge WAN
define host{
        use             generic-router,host-pnp
        host_name       apeodrwr02c18.ims.telstra.com.au
        alias       	N0007095R - Bridge WAN
        address         10.50.1.254
        hostgroups      lan_dwn,wan_routers
        }

# Berrimah WAN
define host{
        use             generic-router,host-pnp
        host_name       ashmooberr01c18.ims.telstra.com.au
        alias           Y00000023929N - Berrimah WAN
        address         10.52.1.254
        hostgroups      lan_hvy,wan_routers
        }

# Palmerston WAN
define host{
        use             generic-router,host-pnp
        host_name       ashmoopmnr01c18.ims.telstra.com.au
        alias           Y00000023930N - Palmerston WAN
        address         10.51.1.254
        hostgroups      lan_plm,wan_routers
        }

#-----
# QLD 
#-----

# Austral Porsche
define host{
        use             generic-router,host-pnp
        host_name       apeqnewr02c26.ims.telstra.com.au
        alias           N7019200R - Austral Porsche WAN
        address         10.17.11.254
        hostgroups      lan_bcr,wan_routers
        }

# Austral Audi Sunshine Coast
define host{
        use             generic-router,host-pnp
        host_name       ashmoqbnar01c18.ims.telstra.com.au
        alias           Y00000023925N - Audi Sunshine Coast WAN
        address         10.35.1.254
        hostgroups      lan_cur,wan_routers
        }

# Caloundra City Automotive
define host{
        use             generic-router,host-pnp
        host_name       apeqcalr01c18.ims.telstra.com.au
        alias           N7737493R - Caloundra City Automotive
        address         10.23.1.254
        hostgroups      lan_cal,wan_routers
        }

# Caloundra City Automotive PD
define host{
        use             generic-router,host-pnp
        host_name       apeegqcalr01c18.ims.telstra.com.au
        alias           Y00000043064N - Caloundra City Automotive PD
        address         10.27.1.254
        hostgroups      lan_cal,wan_routers
        }

# City Peugeot Fortitude Valley
define host{
        use             generic-router,host-pnp
        host_name       apeqfovr01c18.ims.telstra.com.au
        alias           Y00000040616N - City Peugeot Fortitude Valley WAN
        address         10.11.1.254
        hostgroups      lan_jsv,wan_routers
        }

# Corporate Admin Fortitude Valley
define host{
        use             generic-router,host-pnp
        host_name       apeegqfovr01c18.ims.telstra.com.au
        alias           N7015676R - Corporate Admin WAN
        address         10.15.1.254
        hostgroups      lan_msv,wan_routers
        }

# Corporate Fortitude Valley - Not yet live
#define host{
#        use             generic-router,host-pnp
#        host_name       apeqfovr01c28.ims.telstra.com.au
#        alias           N7733085R - Corporate Fortitude Valley WAN
#        address         10.16.1.254
#        hostgroups      wan_routers
#        }

# Eagers Kedron
define host{
        use             generic-router,host-pnp
        host_name       apeegqkedr01c18.ims.telstra.com.au
        alias           Y00000023920N - Eagers Kedron WAN
        address         10.14.6.254
        hostgroups      lan_ked,wan_routers
        }

# Eagers Service Kedron
define host{
        use             generic-router,host-pnp
        host_name       apeegqkedr02c18.ims.telstra.com.au
        alias           Y00000038368N - Eagers Service Kedron WAN
        address         10.7.1.254
        hostgroups      lan_gsk,wan_routers
        }

# Eagers Townsville
define host{
        use             generic-router,host-pnp
        host_name       apeegqkwnr01c18.ims.telstra.com.au
        alias           Y00000023922N - Eagers Townsville WAN
        address         10.13.3.254
        hostgroups      lan_tns,wan_routers
        }

# Eagers Windsor
define host{
        use             generic-router,host-pnp
        host_name       apeqwinr01c26.ims.telstra.com.au
        alias           N7019178R - Eagers Windsor WAN
        address         10.12.3.254
        hostgroups      lan_win,wan_routers
        }

#---------------------------
# Eight Mile Plains Routers
#---------------------------

# Eight Mile Plains Data Centre
define host{
        use             generic-host,host-pnp
        host_name       apeqempr01c28.ims.telstra.com.au
        alias           N7518891R - Eight Mile Plains WAN
        address         10.1.1.254
        hostgroups      lan_emp,wan_routers
        icon_image                      router.png
        statusmap_image                 router.png
	contact_groups	admins
        }

# dl-894-apeagers
define host{
        use             generic-router,host-pnp
        host_name       dl-894-apeagers
        alias           dl-894-apeagers - Dealerlink
        parents         emp_core_c3560g_48ts_1
        address         10.40.1.33
        hostgroups      lan_emp
        }

# macq-mfmrs12388010
define host{
        use             generic-router,host-pnp
        host_name       macq-mfmrs12388010
        alias           macq-mfmrs12388010 - Porsche
        parents         emp_core_c3560g_48ts_1
        address         10.40.1.37
        hostgroups      lan_emp
        }

#--------------------------



# Fortitude Valley
define host{
        use             generic-router,host-pnp
        host_name       apeqforr01c26.ims.telstra.com.au
        alias           N7019182R - Fortitude Valley WAN
        address         10.16.1.254
        hostgroups      lan_vly,wan_routers
        }

# Gympie Road Wholesale Cars
define host{
        use             generic-router,host-pnp
        host_name       apeegqkedr03c18.ims.telstra.com.au
        alias           Y00000041868N - Gympie Road Wholesale Cars WAN
        address         10.24.1.254
        hostgroups      lan_grw,wan_routers
        }

# Metro Finish Toowoomba
define host{
        use             generic-router,host-pnp
        host_name       apeegqtwcr01c18.ims.telstra.com.au
        alias           Y00000023919N - Metro Toowoomba WAN
        address         10.26.13.254
        hostgroups      lan_tba,wan_routers
        }

# Metro Ford PDC Eagle Farm
define host{
        use             generic-router,host-pnp
        host_name       apeqeagr01c26.ims.telstra.com.au
        alias           N7019183R - Metro PDC Eagle Farm WAN
        address         10.19.2.254
        hostgroups      lan_efm,wan_routers
        }

# Newstead
define host{
        use             generic-router,host-pnp
        host_name       apeqnewr01c26.ims.telstra.com.au
        alias           N7019172R - Newstead WAN
        address         10.10.3.254
        hostgroups      lan_nsd,wan_routers
        }

# Newstead Service Austin Street
define host{
        use             generic-router,host-pnp
        host_name       apeqnewr01c18.ims.telstra.com.au
        alias           Y00000040615N - Newstead Service Austin St WAN
        address         10.6.1.254
        hostgroups      lan_asn,wan_routers
        }

# Pre-delivery Pinkenba
define host{
        use             generic-router,host-pnp
        host_name       apeqpinr01c18.ims.telstra.com.au
        alias           N7045598R - Pinkenba WAN
        address         10.32.3.254
        hostgroups      lan_pnk,wan_routers
        }

# Southside Honda Woolloongabba
define host{
        use             generic-router,host-pnp
        host_name       apeqwobr01c18.ims.telstra.com.au
        alias           N7045580R - Southside Honda Woolloongabba WAN
        address         10.2.7.254
        hostgroups      lan_bur,wan_routers
        }

# Southside Service Woolloongabba
define host{
        use             generic-router,host-pnp
        host_name       apeqwoor02c18.ims.telstra.com.au
        alias           N7717984R - Southside Service Woolloongabba WAN
        address         10.34.1.254
        hostgroups      lan_gab,wan_routers
        }

# Southside Toyota Upper Mt Gravatt
define host{
        use             generic-router,host-pnp
        host_name       apequmgr01c18.ims.telstra.com.au
        alias           N7019175R - Southside Toyota Upper Mt Gravatt WAN
        address         10.5.4.254
        hostgroups      lan_mtg,wan_routers
        }

# Southside Toyota Woolloongabba
define host{
        use             generic-router,host-pnp
        host_name       apeqwoor01c18.ims.telstra.com.au
        alias           N7717983R - Southside Toyota Upper Mt Gravatt WAN
        address         10.33.1.254
        hostgroups      lan_gab,wan_routers
        }

# Subaru Toowong
define host{
        use             generic-router,host-pnp
        host_name       apeqtwgr01c18.ims.telstra.com.au
        alias           N7063760R - Subaru Toowong WAN
        address         10.28.1.254
        hostgroups      lan_twg,wan_routers
        }

# Surfers City Ashmore - Not yet live
#define host{
#        use             generic-router,host-pnp
#        host_name       ashmoqashr01c18.ims.telstra.com.au
#        alias           Y00000023926N - Surfers City Ashmore WAN
#        address         10.8.3.254
#        hostgroups      wan_routers
#        }

# Torque Ford Strathpine
define host{
        use             generic-router,host-pnp
        host_name       apeqstrr01c18.ims.telstra.com.au
        alias           N7719662R - Torque Ford Strathpine WAN
        address         10.18.2.254
        hostgroups      lan_stp,wan_routers
        }

# Torque Toyota Brendale
define host{
        use             generic-router,host-pnp
        host_name       apeqbrer03c18.ims.telstra.com.au
        alias           N7067575R - Torque Toyota Brendale WAN
        address         10.36.1.254
        hostgroups      lan_bre,wan_routers
        }

# Torque Toyota North Lakes
define host{
        use             generic-router,host-pnp
        host_name       apeqmhlr01c18.ims.telstra.com.au
        alias           N7513399R - Torque North Lakes WAN
        address         10.25.1.254
        hostgroups      lan_nla,wan_routers
        }

##########################
# HOST GROUP DEFINITIONS #
##########################

# WAN router hostgroup
define hostgroup{
        hostgroup_name  wan_routers
        alias           WAN Routers
        }

#######################
# SERVICE DEFINITIONS #
#######################

