# File:			Fileservers.cfg
# Date:			2011-07-24
# Author: 		Michael Spence

#--- Services

# Backup Exec Remote Agent
#define service{
#        use                     generic-service
#	hostgroup_name		svr_file,!vmg_windows,!svr_not_bupx
#        service_description     Backup Exec Remote Agent
#        check_command           check_nrpe_service! "Backup Exec Remote Agent for Windows Systems"
#        }

# Check CPU
define service{
        use                     generic-service
	hostgroup_name		svr_file
        service_description     CPU Load
        check_command           check_nrpe_cpu!
        }

# Check MEM
define service{
        use                     generic-service
	hostgroup_name		svr_file
        service_description     MEM Load
        check_command           check_nrpe_mem!
        }

# Check Drive Free Space (Warns at 80%, Critical at 90%)
define service{
        use                     generic-service
	hostgroup_name		svr_file
        service_description     Space Used on Drives
        check_command           check_nrpe_drives!
        }


# DHCP service (I'd rather have a group called svr_dhcp and have servers be a member of this)
define service{
        use                     generic-service
        hostgroup               !svr_not_dhcp,svr_dhcp
	servicegroups		svc_dhcp
        service_description     DHCP Server
        check_command           check_nrpe_service! "DHCP Server"
        }

# Server file/print/sharing service
define service{
        use                     generic-service
        hostgroup               svr_file
        service_description     Server File Sharing
        check_command           check_nrpe_service! "Server"
        }

